<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624001139368-rvu3jmgik65ucnr8iffjiab184old1rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624001139368-rvu3jmgik65ucnr8iffjiab184old1rt</string>
	<key>API_KEY</key>
	<string>AIzaSyC283IFbkmBu0DSjWR-9cUYgm1ynB-lB4M</string>
	<key>GCM_SENDER_ID</key>
	<string>624001139368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>guilhermeborba.AppTabela</string>
	<key>PROJECT_ID</key>
	<string>apptabela</string>
	<key>STORAGE_BUCKET</key>
	<string>apptabela.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624001139368:ios:4948862008f01759e2789d</string>
</dict>
</plist>